
.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

form {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
}

.form input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.form button[type="submit"] {
    width: 75%;
    padding:10px;
    font-size: 18px;
    background-color:#1e5431;
    color: white;
    font-size: 16x;
    border-radius: 8px;
}

.form button[type="submit"]:hover {
    background-color: #3c6249;
}
.form input[type="file"] {
    font-size: 16px;
    margin-bottom: 24px;
    color: black;

}

input[type="file"]::file-selector-button {
    background-color: #1e5431;
    color: white;
    border-radius: 16px;
    padding: 12px;
}

input[type="file"]::file-selector-button:hover {
    background-color: #3c6249;
}
