body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  background-color: #C0C78C;
  line-height: 1.5;
}

section{
  text-align: center;
}

.form-link{
  color: rgb(24, 42, 8);
  margin: 10px;
}

.map-container {
  display: flex;
  justify-content: center; 
  align-items: center;     
}

.map {
  height: 60vh;
  width: 66%;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.form {
  display: flex;
}



#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #86AB89;
  margin: 0;
  position: sticky;
  top: 0;
  z-index: 99;
  padding: 10px 20px;
}

#header h2 {
  color: white;
}

#header a {
  font-size: larger;
  color: white;
}

#header a:hover {
  color: gray;
}