body{
  font-family: 'Titan One', sans-serif;
  margin: 0;
  background-color: #C0C78C;
  line-height: 1.5;
  color: rgb(24, 42, 8);
}

section{
  text-align: center;
}

.form-link{
  margin: 50px;
}

.map-container {
  display: flex;
  justify-content: center; 
  align-items: center;     
}

.map {
  height: 60vh;
  width: 66%;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  margin-bottom: 16px;
}

.form {
  display: flex;
  gap: 15px;
}

.intro {
  background-color: rgba(255, 255, 255, 0.699);
  padding: 16px;
  border-radius: 32px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #86AB89;
  margin: 0;
  position: sticky;
  top: 0;
  z-index: 99;
  padding: 3px 20px;
  border-bottom: 8px solid #1e5431;
}

#header h2 {
  color: white;
  -webkit-text-stroke: 1px black;
  font-size:32px;
  color: white;
  text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

#header a {
  font-size: larger;
  -webkit-text-stroke: 1px black;
   color: white;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
 
}

#header a:hover {
  color: gray;
}

.header_nav {
  display: flex;
  gap: 20px;
}

h3 {
  font-weight:50;
  
}

.form h3 {
  font-size: 24px;
  margin-top: 50px;
}