h1{
  color: #cc7d51;
  background-color: rgba(43,61,91,0.9);
  text-align: center;
  padding-top: 25px;
  font-size: 3.2em;
  line-height: 1.1;
}
h3{
  color: #cc7d51;
  background-color: rgba(43,61,91,0.8);
  text-align: center;
  padding-bottom: 25px;
  font-size: 1.2em;
  line-height: 1.1;
}
header{
  background-color: rgba(43,61,91,1);
}

a:hover{
  color: #617492;
}
a {
  font-size: larger;
  color: #15253f;
}
section{
  text-align: center;
  background-color: #Bd9060;
}
body{
  background-color: #e0c0ab;
}

